@charset "UTF-8";
/* CSS Document */

/* Table of Contents

--------------------------------1 Body
--------------------------------2 Typography
--------------------------------------2.1 Headings
--------------------------------------2.2 Body Copy
--------------------------------------2.3 Buttons
--------------------------------------2.4 Forms
--------------------------------------2.5 Lists
--------------------------------------2.6 Tables
--------------------------------3 Navigation Menues
--------------------------------------3.1 Main
--------------------------------------3.2 Sub
--------------------------------------3.3 Footer
--------------------------------4 Structure
--------------------------------------4.1 Site Content
--------------------------------------4.2 Site Header
--------------------------------------4.3 Site Footer
--------------------------------5 Media
--------------------------------------5.1 Sprites
--------------------------------------5.2 Background Images
--------------------------------6 Other
--------------------------------------6.1 Colors
--------------------------------------6.2 Columns
--------------------------------------6.3 Media Queries

*/

/*
--------------------------------1 Body
*/

*, *:after, *:before {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.wrapper {
	/* width: 1170px; */
	width: 81%;
	margin: 0 auto;
}

.row:after {
	content:" ";
	display: table;
	clear: both;
}

/*
--------------------------------2 Typography
*/

* {
	font-family: 'Raleway', sans-serif;
}

p, section a, #hero a, [type="submit"] {
	font-size: 1.2rem;
}

/*
--------------------------------------2.1 Headings
*/

#hero, header {
	text-align: center;
}

h1, h2 {
	color: #821207;
	text-transform: uppercase;
	font-weight: 900;
}

#about h2 {
	text-align: left;
}

h2 {
	font-size: 3.9rem;
	margin-bottom: .2rem;
}

h1 {
	font-size: 5.5rem;
	margin-bottom: .2rem;
}

h3 {
	color: #280505;
}

#house-blend h3 {
	font-size: 3.4rem;
	font-weight: 900;
}

#find h2 {
	text-align: left;
}
#find div[class="line"] {
	margin: auto 1.7rem;
}

/*
--------------------------------------2.2 Body Copy
*/

#hero p {
	font-size: 2.2rem;
	font-weight: 200;
	margin-top: .6rem;
}

/*
--------------------------------------2.3 Buttons
*/

section a, #hero>div>a, [type="submit"] {
	border: 2px solid #821207;
	padding: 1rem 1.2rem;
	margin: .4rem;
	border-radius: .6rem;
	text-decoration: none;
	color: #fcefe3;
	background-color: #821207;
	display: inline-block;
	text-transform: uppercase;
}

#about a:hover {
	background-color: transparent;
}

section a:hover, #hero>div>a:hover, [type="submit"]:hover {
	background-color: #fcefe3;
	color: #821207;
}

#about a, #about h2, #about p {
	color: #fcefe3;
}

/*
--------------------------------------2.4 Forms
*/

[type="submit"] {
	padding: inherit;
	width: 30%;
}

input, textarea {
	display: block;
	width: 32.5rem;
	height: 3rem;
	border: 2px solid #821207;
	background-color: transparent;
	color: #821207;
	border-radius: .6rem;
}

textarea {
	height: 20rem;
}

label {
	display: none;
}

/*
--------------------------------------2.5 Lists
*/



ul li {
	display: inline-block;
}

/*
--------------------------------------2.6 Tables
*/



/*
--------------------------------3 Navigation Menues
*/

#product-sml, #nav-sml {
	display: inline-block;
}

/*
--------------------------------------3.1 Main
*/

nav a {
	color: #fcefe3;
	font-size: .8rem;
	padding: .1rem 0;
	margin-left: 2rem;
	text-decoration: none;
}

nav a:hover {
	border-bottom: 1px solid #fcefe3;
}

header nav {
	padding: 2.2rem 0;
}

header img {
	margin: 1.2rem;
}


/*
--------------------------------------3.2 Sub
*/

#fix-media-nav {
	float: right;
	position: fixed;
	right: 4rem;
	top: 8rem;
}

#fix-media-nav li {
	display: block;
	padding: 1.5rem 0;
}

/*
--------------------------------------3.3 Footer
*/

footer {
	color: #fcefe3;
}


footer ul:last-of-type {
	padding: 1rem 0;
	text-align: right;
}

footer img {
	padding: 2rem 0;
}

/*
--------------------------------4 Structure
*/

ul, input, textarea {
	margin: .5rem;
}

body > section {
	padding: 5rem 0;
}

section section {
	padding: .5rem;
}

.type {
	margin: .5rem auto;
	text-align: center;
}

#find {
	padding-left: 4%;
}

/*
--------------------------------------4.1 Site Content
*/



/*
--------------------------------------4.2 Site Header
*/



/*
--------------------------------------4.3 Site Footer
*/



/*
--------------------------------5 Media
*/


section section > div[class="col-1-3"] {
	margin: 0 auto;
}

/*
--------------------------------------5.1 Sprites
*/

[id*="sprite"], [class*="sprite"] {
  	display: block;
  	background-position: 0 0;
}

.fb-sprite {  
  	width: 24px;
  	height: 45px;
  	background: url(../img/facebook.png) ;
}

.fb-sprite:hover {
	background-position: 21px 0;
}

#mail-sprite {
	width: 58px;
	height: 44px;
  	background: url(../img/mail.png);
}

#mail-sprite:hover {
	background-position: 57px 0;
}

.twttr-sprite  {
	width: 25px;
	height: 48px;
  	background: url(../img/twitter.png);
}

.twttr-sprite:hover {
	background-position: 24px 0;
}

.google-sprite {
	width: 59px;
	height: 58px;
  	background: url(../img/google+.png);
}

.google-sprite:hover {
	background-position: 59px 0;
}

/*
--------------------------------------5.2 Background Images
*/



/*
--------------------------------6 Other
*/

.line {
	border-top: 1px solid #280505;
	width: 12rem;
	float: none;
	margin: auto;
}

/*
--------------------------------------6.1 Colors
*/

body {
	background-color: #fcefe3;
}

.bg-drk-red, #about {
	background-color: #280505;
}

/*
--------------------------------------6.2 Columns
*/

[class*="col-"] {
	margin: 0 auto;
}

.left, .col-1-3 {
	float: left;
}

.right, .col-5-12 {
	float: right;
}

.col-1 {
	width: 100%
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}

.col-2-3, .type {
	width: 66.66%;
}

.col-1-4 {
	width: 25%;
}

.col-3-4 {
	width: 75%;
}

.col-1-5 {
	width: 20%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-4-5 {
	width: 80%;
}

.col-1-6 {
	width: 16.66%;
}

.col-5-6 {
	width: 83.33%;
}

.col-1-7 {
	width: 14.28%;
}

.col-2-7 {
	width: 28.57%;
}

.col-3-7 {
	width: 42.85%;
}

.col-4-7 {
	width: 57.14%;
}

.col-5-7 {
	width: 71.42%;
}

.col-6-7 {
	width: 85.71%;
}

.col-1-8 {
	width: 12.5%;
}

.col-3-8 {
	width: 37.5%;
}

.col-5-8 {
	width: 62.5%;
}

.col-7-8 {
	width: 87.5%;
}

.col-1-9 {
	width: 11.11%;
}

.col-2-9 {
	width: 22.22%
}

.col-4-9 {
	width: 44.44%;
}

.col-5-9 {
	width: 55.55%;
}

.col-7-9 {
	widht: 77.77%;
}

.col-8-9 {
	width: 88.88%;
}

.col-1-10 {
	width: 10%;
}

.col-3-10 {
	width: 30%;
}

.col-7-10 {
	width: 70%;
}

.col-9-10 {
	width: 90%;
}

.col-1-11 {
	width: 9.09%;
}

.col-2-11 {
	width: 18.18%;
}

.col-3-11  {
	width: 27.27%;
}

.col-4-11 {
	width: 36.36%;
}

.col-5-11 {
	width: 45.45%;
}

.col-6-11 {
	width: 54.54%;
}

.col-7-11 {
	width: 63.63%;
}

.col-8-11 {
	width: 72.72%;
}

.col-9-11 {
	width: 81.81%;
}

.col-10-11 {
	width: 90.90%;
}

.col-1-12 {
	width: 8.333%;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.33%;
}

.col-11-12 {
	width: 91.66%;
}

/*
--------------------------------------6.3 Media Queries
*/

@media screen and (max-width: 480px) {
/*
--------------------------------1 Body
*/

.wrapper {
	/* width: 1170px; */
	width: 90%;
	margin: 0 auto;
}

/*
--------------------------------2 Typography
*/


/*
--------------------------------------2.1 Headings
*/



/*
--------------------------------------2.2 Body Copy
*/

p {
	font-size: 14px;
}

/*
--------------------------------------2.3 Buttons
*/



/*
--------------------------------------2.4 Forms
*/

input, textarea {
	width: 22rem;
	height: 3rem;
}

/*
--------------------------------------2.5 Lists
*/



/*
--------------------------------------2.6 Tables
*/



/*
--------------------------------3 Navigation Menues
*/

nav>ul>li:first-of-type {
	display: none;
}

#product-sml {
	font-size: 1.6rem;
	text-align: right;
	display: block;
	margin: 1.2rem auto;
}

#nav-sml {
	font-size: .7rem;
}

#nav-sml a {
	margin:.2rem;
}

/*
--------------------------------------3.1 Main
*/



/*
--------------------------------------3.2 Sub
*/



/*
--------------------------------------3.3 Footer
*/



/*
--------------------------------4 Structure
*/

ul, input, textarea {
	margin: .5rem 0;
}

body > section {
	padding: 0;
}

section section {
	padding: 0;
}

.type {
	margin: 0;
}

/*
--------------------------------------4.1 Site Content
*/



/*
--------------------------------------4.2 Site Header
*/



/*
--------------------------------------4.3 Site Footer
*/



/*
--------------------------------5 Media
*/

figure {
	width: 2rem;
	height: 2rem;
}

section section figure {
	margin: 0 auto;
}

/*
--------------------------------------5.1 Sprites
*/



/*
--------------------------------------5.2 Background Images
*/



/*
--------------------------------6 Other
*/



/*
--------------------------------------6.1 Colors
*/



/*
--------------------------------------6.2 Columns
*/

[class*="col-"] {
	margin: 0 auto;
}

.left, .col-1-3 {
	float: left;
}

.right {
	float: right;
}

.col-2-3 {
	width: 66.62%;
	float: right;
}

.col-1-3 {
	width: 33.32%;
	float: left;
}

.col-5-12 {
	float: none;
}

.col-1, .col-1-2, .col-1-4, .col-3-4, .col-4-5, .col-1-5, .col-5-6, .col-5-7, .col-6-7, .col-1-8, .col-3-8, .col-3-10, .col-7-10, .col-9-10, .col-1-11, .col-2-11, .col-3-11, .col-4-11, .col-5-11, .col-6-11, .col-7-11, .col-8-11, .col-9-11, .col-10-11, .col-1-12, .col-5-12, .col-7-12, .col-11-12, .type {
	width: 100%;
}

}